[Unit]
Description=xrdp session manager
After=network.target

[Service]
Type=simple
ExecStart=@xrdp@/bin/xrdp-sesman --nodaemon --config /etc/xrdp/sesman.ini
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
